%br
%h2 Appointment for 
.well
  %h1= "#{@appointment.start_time.in_time_zone(selected_time_zone).to_s(:long)}"
  %h4= "Note: Time shown in #{selected_time_zone} time zone"
%br
= form_tag "/appointments/#{@appointment.id}", method: :put do
  %table
    %tr
      %td
        = label_tag 'name', "What do I call you?"
      %td
        = text_field_tag 'name'  
    %tr
      %td
        = label_tag 'user_email', "Enter Your Email"
      %td
        = email_field_tag 'user_email', '', :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}',  :placeholder=>'email address'
    %tr
      %td
        = submit_tag "Looking Forward to Meeting You!", class: "btn btn-success"

%li Leave your name and email in the form above and I'll send a Google Calendar appointment.
%li For any questions or concerns, reach me at: <strong> jason.data@roadbytes.me </strong>
