%br
= form_tag set_time_zone_path, method: :post do
  = select_tag "selected_time_zone", time_zone_options_for_select, id: "detected_time_zone"
  = submit_tag "enter your time zone"

- if session[:time_zone]
  %h4 Jason's Available Appointments: Time zone is set to #{selected_time_zone}
  %h2 #{Date.today.strftime("%B %Y")}
  = calendar Date.today do |date|
    - string_date = date.to_s
    %p= date.day
    - unless @appointments[string_date].nil?
      -@appointments[string_date].each do |appointment|
        - if appointment.title == "available" 
          %p= link_to "#{format_time appointment.start_time} to #{format_time appointment.end_time}", 
                edit_appointment_path(appointment.id), class: "btn btn-info"
